@import 'al-ui';

.todo {
  background: #fff;
  font-size: @font-size-medium;
}

.todo-icon {
  margin-right: 10px;
}

.todo-finished {
  background: @color-page;
}

.todo-finished-title {
  .gray;
  text-decoration: line-through;
}
